* {
	margin : 0;
	padding : 0;
}

.a_text, .a_normal {
	text-decoration: none;
	color: black;
}

.a_text:hover {
	text-decoration: underline;
}

span {
	padding: 5px;
	position: relative;
	top: 10px;
	right: 14px;
	font-size: 14px;
}

.text {
	position: relative;
	top: -1px;
}

nav {
	float: right;
}

#google {
	margin: auto;
	padding-top: 200px;
	padding-bottom: 20px;
	text-align: center;
	display: block;
}

#search {
	margin :auto;
	padding: 10px;
	text-align: center;
	width: 600px;
	height: 50px;
}

#search-text {
	position: relative;
	top: -45px;
	border-style: none;
}

#container {
	padding: 10px;
	margin: auto;
	width: 1000px;
	height: 800px;
}

#button {
	margin: auto;
	width: 400px;
	height: 200px;
	text-align: center;
}

button {
	padding: 10px;
	margin: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: none;
}

#a_button {
	text-decoration: none;
	color: blue;
}

footer {
	position: absolute;
	bottom: 0;
	width: 1920px;
	height: 70px;
}


#nav_footer {
	padding: 10px;

}

#footer_right {
	position: relative;
	float: right;
}

#footer_left {
	float: left;
}