<p>Me clique pas dessus stp</p>
<p>BIENVENUE visiteur</p>

<div class="kebab">
  <% @users.each do |kebab| %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Potin</h5>
      <p><%= link_to "Potin" + "#{kebab.id}", home_show_path, class: "btn btn-primary", method: "post" %></p>
    </div>
  </div>
  <% end %>
</div>
