<p>Me clique pas dessus stp</p>
<p>BIENVENUE visiteur</p>

<div class="kebab">
  <% @users.each do |kebab| %>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <p><%= link_to "Potin" + "#{kebab.id}", home_show_path %></p>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% end %>
</div>
