@font-face {
    font-family: papyrus;
    src: url(papyrus.ttf);
}

@font-face {
    font-family: comic-sans;
    src: url(comic.ttf);
}

body {

	padding-top: 1%;
	margin: auto;
    width: 34%;
    line-height: 150%;
    font-size: 114%;
    background-color: white;
}
.italic {

	font-style: italic;
}

.lineup {
	font-size: 130%;
}

h1, h2, h3 {
	color: rgb(60, 60, 60);
}

p, ul, blockquote {
	color: rgb(80, 80, 80);
}